{% extends "layout.html.twig" %}

{% block menu_contact_class %} class="active"{% endblock %}

{% block content %}
<section>
	<div class="mapa"></div>
	<div class="form-contacto">
		<div class="row-fluid">
			<div class="span6">
				<img class="tit-contacto" src="{{ app.request.basepath }}/img/tit-contactanos.png" alt="Contactanos" />
				<form action="#" method="post">
					<input class="formCampos" name="contact[name]" type="text" placeholder="Nombre"
						data-rule-required="true" 
					>
					<input class="formCampos" name="contact[email]" type="text" placeholder="Correo Electrónico"
						data-rule-required="true"
						data-rule-email="true" 
					>
					<input class="formCampos" name="contact[phone]" type="text" placeholder="Teléfono">
					<input class="formCampos" name="contact[pueblo]" type="text" placeholder="Pueblo">
					<textarea class="formTextarea" name="contact[message]"  rows="3" placeholder="Mensaje"
						data-rule-required="true"
					></textarea>
					<br />
					<p id="message" class="hide">Datos enviados correctamente. Te responderemos a la brevedad.</p>
					<button type="submit" class="boton">Enviar</button>
				</form>
			</div>
			<div class="span6">
				<img class="dato-contacto" src="{{ app.request.basepath }}/img/txt-contactanos.png" alt="Caribe GS Council. 500 Calle Elisa Colberg, 00907 San Juan, Puerto Rico. (787) 721-5771. Horario: 8am - 5pm" />
			</div>
		</div>
	</div>
</section>
{% endblock %}