{% extends "layout.html.twig" %}

{% block menu_news_class %} class="active"{% endblock %}

{% block content %}
<section id="news">
	<iframe src="http://caribegirlscoutcuncil.tumblr.com/" width="100%" height="100%"></iframe>
</section>
{% endblock %}