{% block content %}
<section id="news">
	<div id="newsCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="active item"><img src="{{ app.request.basepath }}/img/noticias-01.jpg" class="fullwidth" /></div>
		</div>
	</div>
</section>
{% endblock %}